In [1]:
import pandas as pd

In [2]:
nfl_df = pd.read_csv("nfl_data.csv")

In [15]:
nfl_df.head()

,date,away,home,passing_yards_home,rushing_yards_away,rushing_yards_home,total_yards_away,total_yards_home,comp_att_away,comp_att_home,...,fumbles_home,int_away,int_home,turnovers_away,turnovers_home,penalties_away,penalties_home,def_st_td_home,score_away,score_home
0,9/5/2002,49ers,Giants,318,113,43,279,361,16-26,28-45,...,0,1,3,1,3,29-May,Oct-80,0,16,13
1,9/8/2002,Jets,Bills,242,73,142,266,384,24-30,26-39,...,1,0,2,1,3,Oct-90,Oct-82,0,37,31
2,9/8/2002,Vikings,Bears,288,140,80,368,368,16-28,20-33,...,1,2,1,3,2,Aug-52,Apr-33,0,23,27
3,9/8/2002,Chargers,Bengals,167,241,36,401,203,15-19,18-31,...,0,0,1,0,1,Apr-39,Sep-57,0,34,6
4,9/8/2002,Chiefs,Browns,352,194,59,470,411,20-29,28-40,...,1,1,0,1,1,Sep-87,Apr-38,0,40,39

In [14]:
my_list = nfl_df.columns.values.tolist()
print(my_list)

['date', 'away', 'home', 'passing_yards_home', 'rushing_yards_away', 'rushing_yards_home', 'total_yards_away', 'total_yards_home', 'comp_att_away', 'comp_att_home', 'sacks_away', 'sacks_home', 'rushing_attempts_away', 'rushing_attempts_home', 'fumbles_away', 'fumbles_home', 'int_away', 'int_home', 'turnovers_away', 'turnovers_home', 'penalties_away', 'penalties_home', 'def_st_td_home', 'score_away', 'score_home']

In [9]:
unnecessary = ["first_downs_away", "first_downs_home", "third_downs_away", "third_downs_home", "fourth_downs_away", "fourth_downs_home",
              "passing_yards_away", "redzone_away", "redzone_home", "drives_away", "drives_home", "def_st_td_away",
              "possession_away", "possession_home"] 
nfl_df = nfl_df.drop(columns=unnecessary)

KeyError: "['first_downs_away' 'first_downs_home' 'third_downs_away'\n 'third_downs_home' 'fourth_downs_away' 'fourth_downs_home'\n 'passing_yards_away' 'redzone_away' 'redzone_home' 'drives_away'\n 'drives_home' 'def_st_td_away' 'possession_away' 'possession_home'] not found in axis"

In [11]:
nfl_df.head()

,date,away,home,passing_yards_home,rushing_yards_away,rushing_yards_home,total_yards_away,total_yards_home,comp_att_away,comp_att_home,...,fumbles_home,int_away,int_home,turnovers_away,turnovers_home,penalties_away,penalties_home,def_st_td_home,score_away,score_home
0,9/5/2002,49ers,Giants,318,113,43,279,361,16-26,28-45,...,0,1,3,1,3,29-May,Oct-80,0,16,13
1,9/8/2002,Jets,Bills,242,73,142,266,384,24-30,26-39,...,1,0,2,1,3,Oct-90,Oct-82,0,37,31
2,9/8/2002,Vikings,Bears,288,140,80,368,368,16-28,20-33,...,1,2,1,3,2,Aug-52,Apr-33,0,23,27
3,9/8/2002,Chargers,Bengals,167,241,36,401,203,15-19,18-31,...,0,0,1,0,1,Apr-39,Sep-57,0,34,6
4,9/8/2002,Chiefs,Browns,352,194,59,470,411,20-29,28-40,...,1,1,0,1,1,Sep-87,Apr-38,0,40,39